h2 Pre-load beers

h2 Listagem com Jade
ul
for beer in beers
  li= beer.name
blockquote= JSON.stringify(beers)

h2 Listagem com Angular
ul
  li(ng-repeat='beer in beers') {{beer.name}}
blockquote(ng-init='atualizarBeers('+JSON.stringify(beers)+')') {{beers}}
