doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Workshop Be MEAN
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body.container
    block body