h2 Remoção da cerveja
h3 {{msg}}

p
  b
    | Nome: 
  {{ cerveja.name }}
  br
  b
    | Preço: 
  {{ cerveja.price }}
  br
  b
    | Teor alcoólico:
  {{ cerveja.alcohol }}
  br
  b
    | Tipo: 
  {{ cerveja.category }}
  br
  b
    | Descrição: 
  {{ cerveja.description }}
  br
  button.btn.btn-lg(data-ng-click='remove(cerveja)') Remover













